@page "/notifications/edit"
@using Microsoft.EntityFrameworkCore
@using DatingAppFSDProject.Domain
@inject IDbContextFactory<DatingApp.Data.DatingAppContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Notification</h2>
<hr />
@if (Notification is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Notification" OnValidSubmit="UpdateNotification" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Notification.Id" value="@Notification.Id" />
                <div class="mb-3">
                    <label for="content" class="form-label">Content:</label>
                    <InputText id="content" @bind-Value="Notification.Content" class="form-control" />
                    <ValidationMessage For="() => Notification.Content" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="isread" class="form-label">IsRead:</label>
                    <InputCheckbox id="isread" @bind-Value="Notification.IsRead" class="form-check-input" />
                    <ValidationMessage For="() => Notification.IsRead" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="timerecived" class="form-label">TimeRecived:</label>
                    <InputDate id="timerecived" @bind-Value="Notification.TimeRecived" class="form-control" />
                    <ValidationMessage For="() => Notification.TimeRecived" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="userid" class="form-label">UserId:</label>
                    <InputNumber id="userid" @bind-Value="Notification.UserId" class="form-control" />
                    <ValidationMessage For="() => Notification.UserId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="messageid" class="form-label">MessageId:</label>
                    <InputNumber id="messageid" @bind-Value="Notification.MessageId" class="form-control" />
                    <ValidationMessage For="() => Notification.MessageId" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/notifications">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Notification? Notification { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Notification ??= await context.Notification.FirstOrDefaultAsync(m => m.Id == Id);

        if (Notification is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateNotification()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Notification!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!NotificationExists(Notification!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/notifications");
    }

    private bool NotificationExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Notification.Any(e => e.Id == id);
    }
}
