@page "/notifications"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using DatingAppFSDProject.Domain
@using DatingApp.Data
@implements IAsyncDisposable
@inject IDbContextFactory<DatingApp.Data.DatingAppContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="notifications/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Notification">
    <PropertyColumn Property="notification => notification.Content" />
    <PropertyColumn Property="notification => notification.IsRead" />
    <PropertyColumn Property="notification => notification.TimeRecived" />
    <PropertyColumn Property="notification => notification.UserId" />
    <PropertyColumn Property="notification => notification.MessageId" />

    <TemplateColumn Context="notification">
        <a href="@($"notifications/edit?id={notification.Id}")">Edit</a> |
        <a href="@($"notifications/details?id={notification.Id}")">Details</a> |
        <a href="@($"notifications/delete?id={notification.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private DatingAppContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
