@page "/messageboxes/create"
@using Microsoft.EntityFrameworkCore
@using DatingAppFSDProject.Domain
@inject IDbContextFactory<DatingApp.Data.DatingAppContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>MessageBox</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="MessageBox" OnValidSubmit="AddMessageBox" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="timerecieved" class="form-label">TimeRecieved:</label> 
                <InputDate id="timerecieved" @bind-Value="MessageBox.TimeRecieved" class="form-control" /> 
                <ValidationMessage For="() => MessageBox.TimeRecieved" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="matchid" class="form-label">MatchId:</label> 
                <InputNumber id="matchid" @bind-Value="MessageBox.MatchId" class="form-control" /> 
                <ValidationMessage For="() => MessageBox.MatchId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="userid" class="form-label">UserId:</label> 
                <InputNumber id="userid" @bind-Value="MessageBox.UserId" class="form-control" /> 
                <ValidationMessage For="() => MessageBox.UserId" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/messageboxes">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private MessageBox MessageBox { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddMessageBox()
    {
        using var context = DbFactory.CreateDbContext();
        context.MessageBox.Add(MessageBox);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/messageboxes");
    }
}
