@page "/messageboxes/edit"
@using Microsoft.EntityFrameworkCore
@using DatingAppFSDProject.Domain
@inject IDbContextFactory<DatingApp.Data.DatingAppContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>MessageBox</h2>
<hr />
@if (MessageBox is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="MessageBox" OnValidSubmit="UpdateMessageBox" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="MessageBox.Id" value="@MessageBox.Id" />
                <div class="mb-3">
                    <label for="timerecieved" class="form-label">TimeRecieved:</label>
                    <InputDate id="timerecieved" @bind-Value="MessageBox.TimeRecieved" class="form-control" />
                    <ValidationMessage For="() => MessageBox.TimeRecieved" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="matchid" class="form-label">MatchId:</label>
                    <InputNumber id="matchid" @bind-Value="MessageBox.MatchId" class="form-control" />
                    <ValidationMessage For="() => MessageBox.MatchId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="userid" class="form-label">UserId:</label>
                    <InputNumber id="userid" @bind-Value="MessageBox.UserId" class="form-control" />
                    <ValidationMessage For="() => MessageBox.UserId" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/messageboxes">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private MessageBox? MessageBox { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        MessageBox ??= await context.MessageBox.FirstOrDefaultAsync(m => m.Id == Id);

        if (MessageBox is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateMessageBox()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(MessageBox!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!MessageBoxExists(MessageBox!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/messageboxes");
    }

    private bool MessageBoxExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.MessageBox.Any(e => e.Id == id);
    }
}
