@page "/messageboxes"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using DatingAppFSDProject.Domain
@using DatingApp.Data
@implements IAsyncDisposable
@inject IDbContextFactory<DatingApp.Data.DatingAppContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="messageboxes/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.MessageBox">
    <PropertyColumn Property="messagebox => messagebox.TimeRecieved" />
    <PropertyColumn Property="messagebox => messagebox.MatchId" />
    <PropertyColumn Property="messagebox => messagebox.UserId" />

    <TemplateColumn Context="messagebox">
        <a href="@($"messageboxes/edit?id={messagebox.Id}")">Edit</a> |
        <a href="@($"messageboxes/details?id={messagebox.Id}")">Details</a> |
        <a href="@($"messageboxes/delete?id={messagebox.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private DatingAppContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
