@page "/reports/edit"
@using Microsoft.EntityFrameworkCore
@using DatingAppFSDProject.Domain
@inject IDbContextFactory<DatingApp.Data.DatingAppContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Report</h2>
<hr />
@if (Report is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Report" OnValidSubmit="UpdateReport" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Report.Id" value="@Report.Id" />
                <div class="mb-3">
                    <label for="reason" class="form-label">Reason:</label>
                    <InputText id="reason" @bind-Value="Report.Reason" class="form-control" />
                    <ValidationMessage For="() => Report.Reason" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="datereported" class="form-label">DateReported:</label>
                    <InputDate id="datereported" @bind-Value="Report.DateReported" class="form-control" />
                    <ValidationMessage For="() => Report.DateReported" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Status:</label>
                    <InputText id="status" @bind-Value="Report.Status" class="form-control" />
                    <ValidationMessage For="() => Report.Status" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="userid1" class="form-label">UserId1:</label>
                    <InputNumber id="userid1" @bind-Value="Report.UserId1" class="form-control" />
                    <ValidationMessage For="() => Report.UserId1" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="userid2" class="form-label">UserId2:</label>
                    <InputNumber id="userid2" @bind-Value="Report.UserId2" class="form-control" />
                    <ValidationMessage For="() => Report.UserId2" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/reports">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Report? Report { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Report ??= await context.Report.FirstOrDefaultAsync(m => m.Id == Id);

        if (Report is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateReport()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Report!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!ReportExists(Report!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/reports");
    }

    private bool ReportExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Report.Any(e => e.Id == id);
    }
}
