@page "/matches"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using DatingAppFSDProject.Domain
@using DatingApp.Data
@implements IAsyncDisposable
@inject IDbContextFactory<DatingApp.Data.DatingAppContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="matches/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Match">
    <PropertyColumn Property="match => match.MatchScore" />
    <PropertyColumn Property="match => match.Status" />
    <PropertyColumn Property="match => match.UserId1" />
    <PropertyColumn Property="match => match.UserId2" />

    <TemplateColumn Context="match">
        <a href="@($"matches/edit?id={match.Id}")">Edit</a> |
        <a href="@($"matches/details?id={match.Id}")">Details</a> |
        <a href="@($"matches/delete?id={match.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private DatingAppContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
