@page "/settings/create"
@using Microsoft.EntityFrameworkCore
@using DatingAppFSDProject.Domain
@inject IDbContextFactory<DatingApp.Data.DatingAppContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Setting</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Setting" OnValidSubmit="AddSetting" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="notificationpreference" class="form-label">NotificationPreference:</label> 
                <InputText id="notificationpreference" @bind-Value="Setting.NotificationPreference" class="form-control" /> 
                <ValidationMessage For="() => Setting.NotificationPreference" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="privacysetting" class="form-label">PrivacySetting:</label> 
                <InputText id="privacysetting" @bind-Value="Setting.PrivacySetting" class="form-control" /> 
                <ValidationMessage For="() => Setting.PrivacySetting" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="themepreference" class="form-label">ThemePreference:</label> 
                <InputText id="themepreference" @bind-Value="Setting.ThemePreference" class="form-control" /> 
                <ValidationMessage For="() => Setting.ThemePreference" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="userid" class="form-label">UserId:</label> 
                <InputNumber id="userid" @bind-Value="Setting.UserId" class="form-control" /> 
                <ValidationMessage For="() => Setting.UserId" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/settings">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Setting Setting { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddSetting()
    {
        using var context = DbFactory.CreateDbContext();
        context.Setting.Add(Setting);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/settings");
    }
}
