@page "/messages/create"
@using Microsoft.EntityFrameworkCore
@using DatingAppFSDProject.Domain
@inject IDbContextFactory<DatingApp.Data.DatingAppContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Message</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Message" OnValidSubmit="AddMessage" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="content" class="form-label">Content:</label> 
                <InputText id="content" @bind-Value="Message.Content" class="form-control" /> 
                <ValidationMessage For="() => Message.Content" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="userid1" class="form-label">UserId1:</label> 
                <InputNumber id="userid1" @bind-Value="Message.UserId1" class="form-control" /> 
                <ValidationMessage For="() => Message.UserId1" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="messageboxid" class="form-label">MessageBoxId:</label> 
                <InputNumber id="messageboxid" @bind-Value="Message.MessageBoxId" class="form-control" /> 
                <ValidationMessage For="() => Message.MessageBoxId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="userid2" class="form-label">UserId2:</label> 
                <InputNumber id="userid2" @bind-Value="Message.UserId2" class="form-control" /> 
                <ValidationMessage For="() => Message.UserId2" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/messages">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Message Message { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddMessage()
    {
        using var context = DbFactory.CreateDbContext();
        context.Message.Add(Message);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/messages");
    }
}
