@page "/messages"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using DatingAppFSDProject.Domain
@using DatingApp.Data
@implements IAsyncDisposable
@inject IDbContextFactory<DatingApp.Data.DatingAppContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="messages/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Message">
    <PropertyColumn Property="message => message.Content" />
    <PropertyColumn Property="message => message.UserId1" />
    <PropertyColumn Property="message => message.MessageBoxId" />
    <PropertyColumn Property="message => message.UserId2" />

    <TemplateColumn Context="message">
        <a href="@($"messages/edit?id={message.Id}")">Edit</a> |
        <a href="@($"messages/details?id={message.Id}")">Details</a> |
        <a href="@($"messages/delete?id={message.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private DatingAppContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
